.cart-page{
    background: white;
    margin: 40px 10px;
    margin-right: 50px;
    padding: 20px 30px;
    padding-bottom: 30px;
    position: relative;
}

.cart-page table{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.cart-page table thead td{
    font-size: 25px;
    padding-bottom: 10px;
    font-family: Open Sans;
}

.cart-page table tbody button{
    outline: none;
    border: none;
    font-size: 16px;
    background: none;
    background: lightcoral;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
}

.cart-page table tbody img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.cart-title{
    font-size: 35px;
    margin: 0;
    color: indianred;
    text-align: center;
}

.checkout{
    text-align: center;
    margin: 40px auto;
    border-radius: 5px;
    background: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}
.checkout p{
    margin: 15px 0;
    float: left;
}

.total-price,.total-item{
    font-size: 25px;
    color: indianred;
}

.delievery{
    font-size: 20px;
    color: limegreen;
}

.cart-btn{
    outline: none;
    border: none;
    background: crimson;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    bottom: 30px;
    margin: 15px 0;
    cursor: pointer;
}

.ocultar{
	display: none;
	
}

.table-body{
	display:flex;
	flex-direction: row;
}

input, select {
	background-color: white;
    margin-bottom: 10px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px white,
      0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
  }
  
 .tarjeta{
 	display: flex;
 	justify-content: center;
 	flex-direction: column;
 	text-align: center;
 	width: 25%
 	
 }
.mostrar{
	
	display: flex;
	justify-content: center;
	
}
